.btn-slider {
  cursor: pointer;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #ffffff57;
  border: 1px solid rgba(34, 34, 34, 0.287);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-slider:hover {
  background-color: #66e90e2a;
  color: #fff;
}

.btn-slider svg {
  height: 40px;
  width: 40px;
}

.next {
  right: 20px;
}

.prev {
  left: 20px;
}
